#navbar {
  background-color: black;
  height: 60px;
  margin-bottom: 20px;
  text-align: center;
}

#header {
  color: white;
  margin: 0px 0px 0px 10px;
  text-align: left;
}


#search-field {
  justify-content: center;
}

#character-box {
  max-width: 800px;
  margin: "0 auto";
  padding: "100px 10px 0px 10px";
}

#text-box {
  display: flex;
  justify-content: center;
}